<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      <img src="assets/imgs/logo.png" />
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="playSlideShow()"><ion-icon name="play"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-list no-lines>

    <button ion-item *ngIf="!photoTaken" detail-none (click)="takePhoto()">
      <img src="assets/imgs/smile.png"/>
    </button>
    <ion-item-sliding *ngFor="let photo of photos">
        <ion-item>
          <img [src]="photo.image"/>
          <ion-badge item-right light>{{photo.date | daysAgo}} day(s) ago</ion-badge>
        </ion-item>
        <ion-item-options>
          <button light (click)="removePhoto(photo)"><ion-icon name="trash"></ion-icon></button>
        </ion-item-options>
      </ion-item-sliding>

  </ion-list>

</ion-content>
